In [4]:
# Importing dependencies
import pandas as pd
import numpy as np
import warnings
import scipy.stats as st
warnings.filterwarnings('ignore')
from scipy.stats import linregress
from matplotlib import pyplot as plt, ticker as mticker

In [5]:
# Reading .csv files
countries_mean1 = pd.read_csv('Resources/combined_df2.csv')
countries_mean2 = pd.read_csv('Resources/combined_mean_life_exp_suicide_unemploy2.csv')

# Creating data frames
countries_mean_df1 = pd.DataFrame(countries_mean1)
countries_mean_df2 = pd.DataFrame(countries_mean2)
countries_mean_df1.head(10)
#countries_mean_df2.info()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/combined_mean_life_exp_suicide_unemploy2.csv'

In [ ]:
# merge two df together 
big_country_df = pd.merge(countries_mean_df1, countries_mean_df2, how='outer', on='Country Name')
big_country_df.head()

In [ ]:
# remove duplicated columns
big_country_final = big_country_df.drop(columns=['Unnamed: 0_x', 'Country Code_y', 'Unnamed: 0_y', 'avg'])
big_country_final.head()

In [10]:
# rename columns
big_country_final = big_country_final.rename(columns={'Country Code_x':'Country Code'})
pd.options.display.float_format = '{:.2f}'.format
big_country_final.head()

,Country Name,Country Code,NetIncomeMean,GdpMean,InflMean,LifeExpMean,SuicideMean,UnempMean
0,Albania,ALB,10948438940.60,13365200472.40,2277370027.03,79.00,4.60,14.00
1,Algeria,DZA,134994200000.00,168557600000.00,33195800003.64,75.93,2.56,10.54
2,Angola,AGO,75497090903.80,70626923115.40,17443860096.45,61.60,6.16,7.41
3,Armenia,ARM,10392423379.00,11740832933.40,2110667535.31,74.90,4.06,18.17
4,Australia,AUS,1040772400000.00,1340840000000.00,270124000001.35,82.60,12.68,5.56

In [11]:
big_country_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 0 to 180
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   181 non-null    object
 1   Country Code   145 non-null    object
 2   NetIncomeMean  145 non-null    float64
 3   GdpMean        145 non-null    float64
 4   InflMean       145 non-null    float64
 5   LifeExpMean    176 non-null    float64
 6   SuicideMean    176 non-null    float64
 7   UnempMean      176 non-null    float64
dtypes: float64(6), object(2)
memory usage: 12.7+ KB

In [20]:
big_country_final.tail(10)

,Country Name,Country Code,NetIncomeMean,GdpMean,InflMean,LifeExpMean,SuicideMean,UnempMean
171,Syrian Arab Republic,NaN,NaN,NaN,NaN,68.31,1.80,8.74
172,Tajikistan,NaN,NaN,NaN,NaN,70.00,4.22,7.10
173,Timor-Leste,NaN,NaN,NaN,NaN,67.72,3.60,4.62
174,Turkmenistan,NaN,NaN,NaN,NaN,68.85,5.94,4.20
175,United Arab Emirates,NaN,NaN,NaN,NaN,79.48,6.10,2.09
176,United Kingdom,NaN,NaN,NaN,NaN,81.17,8.30,4.44
177,Uzbekistan,NaN,NaN,NaN,NaN,70.95,8.74,5.58
178,"Venezuela, RB",NaN,NaN,NaN,NaN,72.23,2.20,5.31
179,"Yemen, Rep.",NaN,NaN,NaN,NaN,65.51,5.70,13.34
180,Zimbabwe,NaN,NaN,NaN,NaN,60.66,15.58,4.80

In [22]:
#remove raws with null values
big_country_final = big_country_final.dropna()
big_country_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140 entries, 0 to 144
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   140 non-null    object
 1   Country Code   140 non-null    object
 2   NetIncomeMean  140 non-null    float64
 3   GdpMean        140 non-null    float64
 4   InflMean       140 non-null    float64
 5   LifeExpMean    140 non-null    float64
 6   SuicideMean    140 non-null    float64
 7   UnempMean      140 non-null    float64
dtypes: float64(6), object(2)
memory usage: 9.8+ KB

In [24]:
big_country_final.tail(10)

,Country Name,Country Code,NetIncomeMean,GdpMean,InflMean,LifeExpMean,SuicideMean,UnempMean
134,Tonga,TON,442626873.04,463777314.54,87401248.70,70.73,4.14,2.81
135,Trinidad and Tobago,TTO,18922674843.40,24463557990.40,5370394052.19,74.21,9.44,3.13
136,Tunisia,TUN,39600382709.60,43379376781.20,9156015502.19,75.85,3.16,15.33
138,Uganda,UGA,25296464546.80,32123146555.80,6477436772.28,62.11,4.56,1.92
139,Ukraine,UKR,103146510821.80,116250390616.80,18206191900.44,71.57,21.42,9.00
140,United States,USA,16846920000000.00,19658500000000.00,3641200000001.53,78.64,15.44,4.42
141,Uruguay,URY,48035564477.00,60098222344.40,10654860850.67,77.56,20.58,8.09
142,Vanuatu,VUT,796936032.20,848617108.72,146174118.14,69.71,18.08,1.80
143,Vietnam,VNM,178122200000.00,284435800000.00,47851600002.50,73.97,7.64,1.75
144,Zambia,ZMB,18444390990.80,23540697735.20,4250243368.02,62.05,8.22,11.43

In [26]:
big_country_final.to_csv('Resources/big_country_final.csv', index=True)

In [27]:
# create summary statistics 
big_country_final.describe()

,NetIncomeMean,GdpMean,InflMean,LifeExpMean,SuicideMean,UnempMean
count,140.00,140.00,140.00,140.00,140.00,140.00
mean,432680770552.20,530103966311.91,97066842991.14,72.42,10.09,7.20
std,1692756651388.27,2045610220401.02,373699148677.35,7.58,9.02,5.59
min,442626873.04,463777314.54,87401248.70,52.33,0.60,0.13
25%,10931696422.50,12895378851.10,2370892964.72,67.11,4.97,3.67
50%,46225387518.10,55195871280.60,9964935154.61,73.55,7.97,5.59
75%,234593450000.00,294825500000.00,55172150003.61,77.91,12.66,9.20
max,16846920000000.00,19658500000000.00,3641200000001.53,84.09,81.34,26.82

In [ ]:
### Create Histogram to showcase Suicide data distribution

In [1]:
suicide_mean = big_country_final['SuicideMean']


print(f"The mean Suicide Rate of all countrires is: {big_country_final['SuicideMean']}")
#print(f"The standard deviation of all countries  is: {['GdpMean']}")

plt.hist(big_country_final['SuicideMean'])
plt.xlabel("SuicideMean")
plt.ylabel("Number of Countries")
#plt.ticklabel_format(useMathText=True)
plt.xlim(0)
plt.ylim(0)
print(st.normaltest(suicide_mean.sample(50)))

plt.show()

NameError: name 'big_country_final' is not defined

In [ ]:
 Run the normality test on the whole Suicide_mean DataFrame                                                                           
print(st.normaltest(suicide_mean.sample(176)))
# If the p-value is 0.05 or lower, the result is trumpeted as significant, 
# but if it is higher than 0.05, the result is non-significant and tends to be passed over in silence

In [ ]:
# calculate standard dviation and mean of means
sd_sr = np.std(suicide_mean,ddof = 0)
mean_sr = np.mean(suicide_mean)
print(f"The suicide mean standard deviation is {sd_numpy}")
print(f'The average suicide rating is {mean_sr}')

In [ ]:
### Create a whole stocked horizontal bar to showcase top 10 countries with highest suicide ratings

In [ ]:
# function to plot Linear Regression
def plotLinearRegression(xdata,ydata,xlbl,ylbl,lblpos,ifig):
    (slope, intercept, rvalue, pvalue, stderr) = linregress(xdata, ydata)
    print(f"The r-squared is: {rvalue}")
    regress_values = xdata * slope + intercept
    line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

    plt.scatter(xdata,ydata)
    plt.plot(xdata,regress_values,"r-")
    plt.annotate(line_eq,lblpos,fontsize=15,color="red")
    plt.ticklabel_format(useMathText=True)
    plt.xlim(0)
    plt.ylim(0)
    plt.xlabel(xlbl)
    plt.ylabel(ylbl)
    plt.show()

In [ ]:
# Linear regression for Unemployment and Suicide Rate
xlbl = "UnempMean"
ylbl = "SuicideMean"
lblpos = (10, 50)
plotLinearRegression(combined_life_exp_suicide_unemploy_df2['UnempMean'],combined_life_exp_suicide_unemploy_df2['SuicideMean'],xlbl,ylbl,lblpos,5)

In [ ]:
# Linear regression for Life Expectancy and Suicide Rate
xlbl = "LifeExpMean"
ylbl = "SuicideMean"
lblpos = (20, 50)
plotLinearRegression(combined_life_exp_suicide_unemploy_df2['LifeExpMean'],combined_life_exp_suicide_unemploy_df2['SuicideMean'],xlbl,ylbl,lblpos,5)

In [ ]:
# Linear regression for Net Income Mean and Suicide Rate
xlbl = "NetIncomeMean"
ylbl = "SuicideMean"
lblpos = (20, 50)
plotLinearRegression(combined_life_exp_suicide_unemploy_df2['NetIncomeMean'],combined_life_exp_suicide_unemploy_df2['SuicideMean'],xlbl,ylbl,lblpos,5)

In [ ]:
# Linear regression for Life Expectancy and Suicide Rate
xlbl = "Inflation"
ylbl = "SuicideMean"
lblpos = (20, 50)
plotLinearRegression(combined_life_exp_suicide_unemploy_df2['InflMean'],combined_life_exp_suicide_unemploy_df2['SuicideMean'],xlbl,ylbl,lblpos,5)