## Statistical Analysis

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Read the mouse data and the study results
final_mean_df = pd.read_csv('Resources/final_mean_df.csv')

# Display the data table for preview
final_mean_df.head()

,Unnamed: 0,Country Name,Country Code,Region,Happiness Score,Life Expectancy,Suicide Rate,Unemployment Rate,Net National Income Total,GDP Total,Consumer Price Inflation
0,0,Albania,ALB,Europe,5.199,79.003400,4.60,14.0000,1.094844e+10,1.336520e+10,2.277370e+09
1,1,Algeria,DZA,Africa,5.122,75.927400,2.56,10.5352,1.349940e+11,1.685580e+11,3.319580e+10
2,2,Armenia,ARM,Europe,5.399,74.901800,4.06,18.1700,1.039242e+10,1.174083e+10,2.110668e+09
3,3,Australia,AUS,Asia,7.162,82.599512,12.68,5.5620,1.040770e+12,1.340840e+12,2.701240e+11
4,4,Austria,AUT,Europe,7.163,81.612683,15.44,5.3140,3.400930e+11,4.189360e+11,7.639420e+10