## Statistical Analysis

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import seaborn as sns

# Read the mouse data and the study results
final_mean_df = pd.read_csv('Resources/final_mean_df.csv')

# Display the data table for preview
final_mean_df.head()

,Unnamed: 0,Country Name,Country Code,Region,Happiness Score,Life Expectancy,Suicide Rate,Unemployment Rate,Net National Income Total,GDP Total,Consumer Price Inflation
0,0,Albania,ALB,Europe,5.199,79.003400,4.60,14.0000,1.094844e+10,1.336520e+10,2.277370e+09
1,1,Algeria,DZA,Africa,5.122,75.927400,2.56,10.5352,1.349940e+11,1.685580e+11,3.319580e+10
2,2,Armenia,ARM,Europe,5.399,74.901800,4.06,18.1700,1.039242e+10,1.174083e+10,2.110668e+09
3,3,Australia,AUS,Asia,7.162,82.599512,12.68,5.5620,1.040770e+12,1.340840e+12,2.701240e+11
4,4,Austria,AUT,Europe,7.163,81.612683,15.44,5.3140,3.400930e+11,4.189360e+11,7.639420e+10

In [2]:
# remove column
final_mean_df = final_mean_df.drop(columns=['Unnamed: 0'])
final_mean_df.head()

,Country Name,Country Code,Region,Happiness Score,Life Expectancy,Suicide Rate,Unemployment Rate,Net National Income Total,GDP Total,Consumer Price Inflation
0,Albania,ALB,Europe,5.199,79.003400,4.60,14.0000,1.094844e+10,1.336520e+10,2.277370e+09
1,Algeria,DZA,Africa,5.122,75.927400,2.56,10.5352,1.349940e+11,1.685580e+11,3.319580e+10
2,Armenia,ARM,Europe,5.399,74.901800,4.06,18.1700,1.039242e+10,1.174083e+10,2.110668e+09
3,Australia,AUS,Asia,7.162,82.599512,12.68,5.5620,1.040770e+12,1.340840e+12,2.701240e+11
4,Austria,AUT,Europe,7.163,81.612683,15.44,5.3140,3.400930e+11,4.189360e+11,7.639420e+10

In [20]:
# Remove scientific notation
pd.options.display.float_format = '{:,.2f}'.format

In [21]:
final_mean_df.head()

,Country Name,Country Code,Region,Happiness Score,Life Expectancy,Suicide Rate,Unemployment Rate,Net National Income Total,GDP Total,Consumer Price Inflation
0,Albania,ALB,Europe,5.20,79.00,4.60,14.00,"10,948,438,941.00","13,365,200,472.00","2,277,370,027.00"
1,Algeria,DZA,Africa,5.12,75.93,2.56,10.54,"134,994,000,000.00","168,558,000,000.00","33,195,800,004.00"
2,Armenia,ARM,Europe,5.40,74.90,4.06,18.17,"10,392,423,379.00","11,740,832,933.00","2,110,667,535.00"
3,Australia,AUS,Asia,7.16,82.60,12.68,5.56,"1,040,770,000,000.00","1,340,840,000,000.00","270,124,000,000.00"
4,Austria,AUT,Europe,7.16,81.61,15.44,5.31,"340,093,000,000.00","418,936,000,000.00","76,394,200,001.00"

In [15]:
sorted_happiness = final_mean_df.sort_values('Happiness Score', ascending=False)
sorted_happiness = sorted_happiness.reset_index(drop=True)
sorted_happiness.head()

,Country Name,Country Code,Region,Happiness Score,Life Expectancy,Suicide Rate,Unemployment Rate,Net National Income Total,GDP Total,Consumer Price Inflation
0,Finland,FIN,Europe,7.82,81.65,15.32,8.18,"208,378,000,000.00","255,035,000,000.00","46,906,800,001.00"
1,Denmark,DNK,Europe,7.64,81.01,11.04,5.65,"283,347,000,000.00","330,250,000,000.00","60,534,600,001.00"
2,Switzerland,CHE,Europe,7.51,83.54,14.54,4.72,"544,408,000,000.00","704,830,000,000.00","138,824,000,000.00"
3,Netherlands,NLD,Europe,7.42,81.75,11.80,4.99,"701,557,000,000.00","841,548,000,000.00","153,115,000,000.00"
4,Luxembourg,LUX,Europe,7.40,82.40,10.82,5.93,"37,046,950,231.00","65,765,330,321.00","12,014,316,844.00"

In [14]:
sorted_suicide = final_mean_df.sort_values('Suicide Rate', ascending=False)
sorted_suicide = sorted_suicide.reset_index(drop=True)
sorted_suicide.head(20)

,Country Name,Country Code,Region,Happiness Score,Life Expectancy,Suicide Rate,Unemployment Rate,Net National Income Total,GDP Total,Consumer Price Inflation
0,Lesotho,LSO,Africa,3.51,52.87,81.34,23.15,"2,222,963,715.00","2,357,681,286.00","471,951,964.00"
1,Eswatini,SWZ,Africa,4.40,57.91,31.24,22.89,"3,358,320,838.00","4,288,547,704.00","812,649,138.50"
2,Lithuania,LTU,Europe,6.45,75.29,30.18,7.29,"40,263,157,695.00","48,148,900,215.00","8,287,106,670.00"
3,Russian Federation,RUS,Europe,5.46,72.21,28.68,5.14,"1,177,720,000,000.00","1,512,980,000,000.00","272,696,000,000.00"
4,South Africa,ZAF,Africa,5.19,65.19,24.34,26.82,"302,916,000,000.00","368,887,000,000.00","69,342,000,004.00"
5,Belarus,BLR,Europe,5.82,74.00,23.16,5.25,"46,461,531,799.00","56,668,979,386.00","11,290,946,885.00"
6,Ukraine,UKR,Europe,5.08,71.57,21.42,9.00,"103,147,000,000.00","116,250,000,000.00","18,206,191,900.00"
7,Uruguay,URY,Americas,6.47,77.56,20.58,8.09,"48,035,564,477.00","60,098,222,344.00","10,654,860,851.00"
8,Latvia,LVA,Europe,6.18,74.77,20.50,8.39,"23,758,424,419.00","30,920,695,717.00","5,452,618,111.00"
9,Kazakhstan,KAZ,Asia,6.23,72.73,20.46,4.89,"121,517,000,000.00","169,896,000,000.00","36,877,600,007.00"
10,Slovenia,SVN,Europe,6.63,81.18,19.70,6.62,"38,366,504,853.00","48,994,559,953.00","8,621,501,206.00"
11,Mongolia,MNG,Asia,5.76,70.52,19.16,5.86,"9,082,752,211.00","12,333,308,814.00","2,323,978,483.00"
12,Belgium,BEL,Europe,6.80,81.50,18.76,6.94,"414,094,000,000.00","504,059,000,000.00","92,467,200,002.00"
13,Hungary,HUN,Europe,6.09,75.97,18.08,4.64,"115,211,000,000.00","144,290,000,000.00","25,034,800,002.00"
14,Botswana,BWA,Africa,3.47,65.38,17.54,21.57,"12,296,763,481.00","15,689,265,956.00","2,706,147,634.00"
15,Japan,JPN,Asia,6.04,84.09,17.12,2.82,"3,849,520,000,000.00","4,908,120,000,000.00","888,986,000,000.00"
16,Croatia,HRV,Europe,6.12,77.92,16.50,11.11,"46,986,554,545.00","56,721,787,651.00","10,048,556,614.00"
17,Estonia,EST,Europe,6.34,78.04,16.10,5.71,"22,295,188,240.00","27,118,919,715.00","4,578,152,420.00"
18,United States,USA,Americas,6.98,78.64,15.44,4.42,"16,846,900,000,000.00","19,658,500,000,000.00","3,641,200,000,000.00"
19,Austria,AUT,Europe,7.16,81.61,15.44,5.31,"340,093,000,000.00","418,936,000,000.00","76,394,200,001.00"