In [1]:
# Importing dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Reading .csv files
adj_net_national_income_csv = pd.read_csv('../Resources/Adj_net_national_income_world_bank_20_years.csv')
GDP_csv = pd.read_csv('../Resources/GDP_world_bank_20_years.csv')
Inflation_consumer_prices_csv = pd.read_csv('../Resources/Inflation_consumer_prices_world_bank_20_years.csv')

# Reading Happiness Score csv
happiness_score_csv = pd.read_csv('../Resources/world_happiness_score_2022.csv')

In [3]:
# Creating data frames
adj_net_national_income_df = pd.DataFrame(adj_net_national_income_csv)
gdp_df = pd.DataFrame(GDP_csv)
inflation_consumer_prices_df = pd.DataFrame(Inflation_consumer_prices_csv)

# Happiness Score data frame
happiness_score_df = pd.DataFrame(happiness_score_csv)

In [4]:
#  ---------------------------
# Adjusted Net National Income for 2002-2019

In [5]:
# Dropping not needed columns
adj_net_nat_income_df = adj_net_national_income_df.drop(columns=['Series Code', 'Series Name', '2020 [YR2020]', '2021 [YR2021]'])

In [6]:
# Renaming the columns
adj_net_nat_income_renamed = adj_net_nat_income_df.rename(columns={
    '2002 [YR2002]' : '2002',
    '2003 [YR2003]' : '2003',
    '2004 [YR2004]' : '2004',
    '2005 [YR2005]' : '2005',
    '2006 [YR2006]' : '2006',
    '2007 [YR2007]' : '2007',
    '2008 [YR2008]' : '2008',
    '2009 [YR2009]' : '2009',
    '2010 [YR2010]' : '2010',
    '2011 [YR2011]' : '2011',
    '2012 [YR2012]' : '2012',
    '2013 [YR2013]' : '2013',
    '2014 [YR2014]' : '2014',
    '2015 [YR2015]' : '2015',
    '2016 [YR2016]' : '2016',
    '2017 [YR2017]' : '2017',
    '2018 [YR2018]' : '2018',
    '2019 [YR2019]' : '2019'  
})

In [7]:
# Replacing all empty values with NaN
adj_net_nat_income_droped = adj_net_nat_income_renamed.replace('..', np.nan)

# Dropping all NaN
adj_net_nat_income_final = adj_net_nat_income_droped.dropna(axis=0)

In [8]:
# Changing object data type to float data type
for i, col in enumerate(adj_net_nat_income_final.columns):
    if i >= 2 and adj_net_nat_income_final[col].dtype == 'object':
        adj_net_nat_income_final[col] = adj_net_nat_income_final[col].astype(float)

In [9]:
adj_net_nat_income_final.head()

,Country Name,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Albania,ALB,3.981527e+09,5.152981e+09,6.556505e+09,7.323051e+09,8.188155e+09,9.588090e+09,1.130265e+10,1.028265e+10,1.018347e+10,1.083071e+10,1.016081e+10,1.088664e+10,1.110669e+10,9.411883e+09,9.903308e+09,1.066838e+10,1.237962e+10,1.237900e+10
2,Algeria,DZA,4.228057e+10,4.951915e+10,6.136434e+10,6.851646e+10,7.805549e+10,9.498747e+10,1.203620e+11,1.043260e+11,1.234800e+11,1.461620e+11,1.537210e+11,1.556530e+11,1.605260e+11,1.312600e+11,1.328030e+11,1.383400e+11,1.368790e+11,1.356890e+11
5,Angola,AGO,9.936398e+09,1.216515e+10,1.301680e+10,1.844962e+10,2.603712e+10,3.001159e+10,2.964080e+10,4.102006e+10,4.250390e+10,5.771448e+10,7.141687e+10,8.258646e+10,9.722255e+10,8.998094e+10,7.838634e+10,8.871823e+10,6.416750e+10,5.623245e+10
7,Argentina,ARG,7.485151e+10,1.016370e+11,1.218960e+11,1.470900e+11,1.913700e+11,2.420370e+11,3.038340e+11,2.772690e+11,3.514700e+11,4.411680e+11,4.520350e+11,4.579470e+11,4.365770e+11,5.049830e+11,4.706690e+11,5.502860e+11,4.366490e+11,3.713230e+11
8,Armenia,ARM,2.062125e+09,2.467616e+09,3.203973e+09,4.419908e+09,5.853474e+09,8.521311e+09,1.094712e+10,7.921368e+09,8.398953e+09,9.080777e+09,9.592550e+09,1.030468e+10,1.062332e+10,9.466501e+09,9.300817e+09,1.035383e+10,1.094827e+10,1.189271e+10

In [10]:
# Saving new Data Frame to csv file
adj_net_nat_income_final.to_csv('adj_net_national_income_cleaned_full.csv', index=True)

In [11]:
# ---------------------------------------------
# GDP per Capitafor for 2002-2019

In [12]:
# Dropping not needed columns
gdp_df_droped = gdp_df.drop(columns=['Series Code', 'Series Name', '2020 [YR2020]', '2021 [YR2021]'])

In [13]:
# Renaming the columns
gdp_df_renamed = gdp_df_droped.rename(columns={
    '2002 [YR2002]' : '2002',
    '2003 [YR2003]' : '2003',
    '2004 [YR2004]' : '2004',
    '2005 [YR2005]' : '2005',
    '2006 [YR2006]' : '2006',
    '2007 [YR2007]' : '2007',
    '2008 [YR2008]' : '2008',
    '2009 [YR2009]' : '2009',
    '2010 [YR2010]' : '2010',
    '2011 [YR2011]' : '2011',
    '2012 [YR2012]' : '2012',
    '2013 [YR2013]' : '2013',
    '2014 [YR2014]' : '2014',
    '2015 [YR2015]' : '2015',
    '2016 [YR2016]' : '2016',
    '2017 [YR2017]' : '2017',
    '2018 [YR2018]' : '2018',
    '2019 [YR2019]' : '2019'   
})

In [14]:
# Replacing all empty values with NaN
gdp_df_droped = gdp_df_renamed.replace('..', np.nan)
# Dropping all NaN
gdp_df_final = gdp_df_droped.dropna(axis=0)

In [15]:
# Changing object data type to float data type
for i, col in enumerate(gdp_df_final.columns):
    if i >= 2 and gdp_df_final[col].dtype == 'object':
        gdp_df_final[col] = gdp_df_final[col].astype(float)

In [16]:
gdp_df_final.head()

,Country Name,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,AFG,3.854235e+09,4.539501e+09,5.220824e+09,6.226199e+09,6.971379e+09,9.715762e+09,1.024977e+10,1.215484e+10,1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10
1,Albania,ALB,4.348068e+09,5.611496e+09,7.184686e+09,8.052074e+09,8.896073e+09,1.067732e+10,1.288135e+10,1.204421e+10,1.192692e+10,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.515643e+10,1.540183e+10
2,Algeria,DZA,5.676036e+10,6.786383e+10,8.533258e+10,1.031980e+11,1.170270e+11,1.349770e+11,1.710010e+11,1.372110e+11,1.612070e+11,2.000130e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.659790e+11,1.600340e+11,1.700970e+11,1.749110e+11,1.717670e+11
3,American Samoa,ASM,5.120000e+08,5.240000e+08,5.090000e+08,5.000000e+08,4.930000e+08,5.180000e+08,5.600000e+08,6.750000e+08,5.730000e+08,5.700000e+08,6.400000e+08,6.380000e+08,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08
4,Andorra,AND,1.755910e+09,2.361727e+09,2.894922e+09,3.159905e+09,3.456442e+09,3.952601e+09,4.085631e+09,3.674410e+09,3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.155065e+09

In [17]:
# Saving new Data Frame to csv file
gdp_df_final.to_csv('oleksii_branch/output/gdp_cleaned_full.csv', index=True)

FileNotFoundError: [Errno 2] No such file or directory: 'oleksii_branch/output/gdp_cleaned_full.csv'

In [ ]:
# ---------------------------------------------
# Inflation Consumer Prices for 2002-2019

In [ ]:
# Dropping not needed columns
infl_consum_prices_droped = inflation_consumer_prices_df.drop(columns=['Series Code', 'Series Name', '2020 [YR2020]', '2021 [YR2021]'])

In [ ]:
# Renaming the columns
infl_consum_prices_renamed = infl_consum_prices_droped.rename(columns={
    '2002 [YR2002]' : '2002',
    '2003 [YR2003]' : '2003',
    '2004 [YR2004]' : '2004',
    '2005 [YR2005]' : '2005',
    '2006 [YR2006]' : '2006',
    '2007 [YR2007]' : '2007',
    '2008 [YR2008]' : '2008',
    '2009 [YR2009]' : '2009',
    '2010 [YR2010]' : '2010',
    '2011 [YR2011]' : '2011',
    '2012 [YR2012]' : '2012',
    '2013 [YR2013]' : '2013',
    '2014 [YR2014]' : '2014',
    '2015 [YR2015]' : '2015',
    '2016 [YR2016]' : '2016',
    '2017 [YR2017]' : '2017',
    '2018 [YR2018]' : '2018',
    '2019 [YR2019]' : '2019'  
})

In [ ]:
# Replacing all empty values with NaN
infl_consum_prices_droped = infl_consum_prices_renamed.replace('..', np.nan)
# Dropping all NaN
infl_consum_prices_final = infl_consum_prices_droped.dropna(axis=0)

In [ ]:
# Changing object data type to float data type
for i, col in enumerate(infl_consum_prices_final.columns):
    if i >= 2 and infl_consum_prices_final[col].dtype == 'object':
        infl_consum_prices_final[col] = infl_consum_prices_final[col].astype(float)
infl_consum_prices_final

In [ ]:
infl_consum_prices_final.head()

In [ ]:
# Saving new Data Frame to csv file
infl_consum_prices_final.to_csv('oleksii_branch/output/inflation_consumer_prices_cleaned_full.csv', index=True)

In [ ]:
# ---------------------------------
# The Mean of Adjusted Net National Income for the last 5 years (2015-2019)

In [ ]:
# Locating first two columns and last five columns
adj_net_nat_income_five_years_df = adj_net_nat_income_final.iloc[:, [0, 1, -5, -4, -3, -2, -1]]

In [ ]:
# Calculating the mean of the last five columns and assigning it to a new column
adj_income_five_years_mean = adj_net_nat_income_five_years_df.assign(NetIncomeMean = adj_net_nat_income_five_years_df[['2015', '2016', '2017', '2018', '2019']].mean(axis=1))
# Droppimg not needed columns
adj_income_five_years_mean = adj_income_five_years_mean.drop(columns= ['2015', '2016', '2017', '2018', '2019'])

In [ ]:
adj_income_five_years_mean.head()

In [ ]:
# -------------------------------
# The Mean of GPD per Capita for the Last 5 Years (2015-2019)

In [ ]:
# Locating first two columns and last five columns
gdp_five_years_df = gdp_df_final.iloc[:, [0, 1, -5, -4, -3, -2, -1]]

In [ ]:
# Calculating the mean of the last five columns and assigning it to a new column
gdp_five_years_mean = gdp_five_years_df.assign(NetIncomeMean = gdp_five_years_df[['2015', '2016', '2017', '2018', '2019']].mean(axis=1))
# Droppimg not needed columns
gdp_five_years_mean = gdp_five_years_mean.drop(columns= ['2015', '2016', '2017', '2018', '2019'])

In [ ]:
gdp_five_years_mean.head()

In [ ]:
# --------------------------------
# The Mean of Inflation Consumer Prices for the last 5 years (2015-2019)

In [ ]:
# Locating first two columns and last five columns
infl_cons_prices_five_years_df = infl_consum_prices_final.iloc[:, [0, 1, -5, -4, -3, -2, -1]]

In [ ]:
# Calculating the mean of the last five columns and assigning it to a new column
infl_cons_prices_five_years_mean = infl_cons_prices_five_years_df.assign(NetIncomeMean = infl_cons_prices_five_years_df[['2015', '2016', '2017', '2018', '2019']].mean(axis=1))
# Droppimg not needed columns
infl_cons_prices_five_years_mean = infl_cons_prices_five_years_mean.drop(columns= ['2015', '2016', '2017', '2018', '2019'])

In [ ]:
infl_cons_prices_five_years_mean.head()

In [ ]:
# -------------------------------
# Mearging 3 MEAN data frames together

In [ ]:
oleksiis_merged_df =  pd.merge(pd.merge
            (left=adj_income_five_years_mean, right=gdp_five_years_mean, on=['Country Name', 'Country Code']), 
            infl_cons_prices_five_years_mean, on = ['Country Name', 'Country Code'])

In [ ]:
oleksiis_merged_df

In [ ]:
# Saving new Data Frame to csv file
oleksiis_merged_df.to_csv('oleksii_branch/output/oleksiis_three_merged_df.csv', index=True)